@import "../_scss_db/basic.scss";
@import "helpers/_variable.scss";
@import "helpers/_mixin.scss";
@import "helpers/_extend.scss";
/* Header =====================================================================*/
header{
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 99999;

	.wrap{
		width: 100%;
		position: relative;
		padding-top: 45px;
		margin-top: 20px;
		margin-bottom: 18px;
		transition: all .3s;
	}

	&.menuMov{
		.wrap{
			margin-top: 10px;
			margin-bottom: 8px;
		}

		.menu-lists{ padding-top: 26px; }
	}

	@include mobile-width(1024px){
		.wrap{ 
			padding: 0 5%; 
			margin-top: 18px;
			grid-template-columns: 160px 1fr 120px;
		}
	}

	@include mobile-width(){
		&.menuOpen .wrap{  }
		.wrap{
			width: 100%;
			display:flex; 
			padding-top:8px;
			flex-direction: column;
			align-items: flex-start;
			transition: all 1s;
		}
	}
}

.logo{
	display: flex;
	align-items: center;
	justify-content: center;

	@include mobile-width(){
		max-width: 160px;
	}
}
/* Menu =======================================================================*/
.menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@include mobile-width($rwd){
		display: none;
		width: 100%; 
		position: absolute;
		top: 87px;
		left: 0px;
		z-index: 9999;
		background: #302F2E;
		max-height: calc(100vh - 87px);
		overflow-y: auto;
	}
}
// Mobile Button
.menu-btn{
	@include menuBtn-basic(#000, 10px);
}

// Menu drop down
.menu-dropDown{ position: relative; }

// Menu drop down Style
.menu-lists{ 
	display: none;
	position: absolute;	
	z-index: 9;
}

// Menu drop down button
.menu-fold{
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;	
	border-left: 1px solid #fff;

	&:before,&:after{
		content: '';
		position: absolute;
		top: 50%;
		right: calc(50% - 5px);
		display: block;
		background: #fff;
    	width: 10px;
    	height: 1px;
    	transition: all .2s;
	}
	&:after{ transform: rotate(90deg); }

	&.open{
		&:after{ transform: rotate(180deg); }
	}

	@include mobile-width($rwd){
		display: block; 
	}
}

// Control Position
.menu-control-position{	
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	@include mobile-width(){
		flex-direction: column;
		align-items: flex-start;
	}
}

.menu-main{ 
	width: 100%;
	order: 1; 
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 1.8rem;
	margin-top: 50px;
	margin-bottom: 30px;

	li{
		padding: 0 36px;
	}

	a{
		color: #000;
		// text-transform: uppercase;
		white-space: nowrap;
		display: block;
	    position: relative;
	    overflow: hidden;
	    padding: 0 18px;
	    font-size: 1.8rem;
	    font-weight: bold;
		
		&:hover{ 
			color: #e94d00;
			opacity: 1; 
		}
	}

	@include mobile-width($rwd){
		width: 100%;
		order: 2;
		flex-direction: column;
		padding: 0px;
		margin: 0px;

		li{ margin: 0px; 
			padding-left: 0px;
			padding-right: 0px;
			&:first-child a{ border-top: 1px solid #fff; }
			&:not(:last-child) a { border-bottom: 1px solid #fff; }
		}

		a{ 
			color:#fff; 
			padding: 15px 12px;
			text-transform: capitalize;

			&:before{ display: none; }
		}
	}
}

.menu-group{ 
	width: 100%;
	order: 2;
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
	color: #000;
	font-size: 1.5rem;
	position: absolute;
	top: 0px;
	left: 0px;
	
	a{ 
		color: #000;
		text-transform: uppercase;

		&:hover{ opacity: .5; }
	}

	li{ 
		padding: 0px; 
		display: flex;
		align-items: center;
	}

	@include mobile-width($rwd){
		order: 1;
		flex-wrap: wrap;
		justify-content: flex-start;
		font-size: 1.5rem;
		width: 100%;
		position: static;
		color: #fff;

		li{
			padding-left: 12px;
			padding-right: 12px;

			&:nth-child(1){ padding-right: 0px; }
			&:nth-child(2){ padding-left: 0px; }
			&:last-child:before{ display: none; }
		}

		a{ 
			color: #fff;
			padding: 15px 12px; 
		}
	}

}

/* Search */
.menu-search {
	position: absolute;
	right: 0px;
	
	a{ 
		// color: #fff;
		text-transform: uppercase;

		&:hover{ opacity: .5; }
	}

	::-webkit-input-placeholder { color: #000; }
	:-moz-placeholder { color: #000; }
	::-moz-placeholder { color: #000; }
	:-ms-input-placeholder { color: #000; }

	input{
		width: 135px;
		border: none;
		margin-right: 6px;
		padding: 1px 5px;
		color: #000;
		background-color: transparent;
		border-bottom: 1px solid #000;
		font-size: 1.6rem;
		transition: all .3s;

	}

	@include mobile-width(){

		display: flex;
		width: 100%;
		position: static;

		::-webkit-input-placeholder { color: #fff; }
		:-moz-placeholder { color: #fff; }
		::-moz-placeholder { color: #fff; }
		:-ms-input-placeholder { color: #fff; }

		input{
			width: 100%;
			padding: 4px 12px;
			color: #fff;
			border-bottom: 1px solid #7D7D7C;
			
			&.inptOpen{ 
				width: 100%; 
				padding: 4px 12px;
			}
		}
			
	}
}

/* Menu Style */
.menuBasic{

	.menu-lists{
		left: 0px;
		min-width: 140px;
    	width: 100%;
    	padding-top: 35px;		

		li{ 
			position: relative;
			background: #313030;
			transition: all .3s;
			padding: 0px;

			a{ 
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: 1.6rem;
				text-transform: inherit;
				padding: 12px 10px;
			    border-bottom: 1px solid rgba(255,255,255,.2);
			    font-weight: normal;
			}

			&:hover{
    			background: #E94D00;
			}
		}
	}

	@include mobile-width($rwd){
		.menu-lists{
			position: static;
			width: 100%;
			padding-top: 0px !important;

			li{ 
				a{ 
					padding-left: 12px;
					padding-right: 12px;
					text-align: left; 
					background: #0A0909;
				}
			}
		}
	}

}

// .menuLandscape{ position: relative;
// 	@include menuLandscape();
// }