@import "../_scss_db/basic.scss";
@import "helpers/_variable.scss";
@import "helpers/_mixin.scss";
@import "helpers/_extend.scss";
/* forget */
.box-member-forget{

	.narrative{
		padding: 20px 0;
	}

}

.forget-mail{
	margin-bottom: 35px;
	width: 100%;
	min-height: 245px;
    display: flex;
    align-items: center;
    padding: 20px 35px;
    border: 6px solid #00A06F;
    background: url(../images/background/member_forget-right.jpg) no-repeat right;

    .mail-lists{
	    max-width: 470px;
	    width: 100%;
	    position: relative;
	    padding-bottom: 40px;

	    .list{
	    	position: relative;
		    padding-bottom: 30px;
		    display: flex;
			
			&:first-child{ 
				flex-direction: column; 
				input{ 
					width: 100%;
					max-width: 430px;
				}
			}

		    &.verification{ 
				padding-bottom: 0px; 
				input{ margin-left: 20px; }
			}
	    }
    }

    input{
    	border: none;
	    background: #E8E8E8;
	    padding: 8px 10px;
	   	max-width: 410px;
	    outline: none;
    }
}