@import "../_scss_db/basic.scss";
@import "helpers/_variable.scss";
@import "helpers/_mixin.scss";
@import "helpers/_extend.scss";

/* Edit Style ====================================================================*/

.datatable{
	max-width: 875px;
	min-width: 500px;
	width: 100%;

	td,th{ 
		padding: 6px 15px; 
		border: 1px solid #D7D7D7;
	}
	th{ 
		font-weight: normal; 
		background: #DEDEDE;
	}
	
	tr{
		&:first-child{
			th{
				color: #fff;
				background: $c1;
				text-align: center;
				&:first-child{ background: #686868; }
			}
		}
	}
}

.edit-box{
	font-size: 15px;
	padding-bottom: 20px;
	line-height: 28px;
	@include edit-box($fontColor);
	
	//大標題
	.title{
		font-size: 18px;
		font-weight: normal;
		display: block;
		text-align: left;
		color: #062033;
		margin: 10px 0;
	}

	a{ color: $c1;
		&:hover{ opacity: .5; }
	}
	
	@include bs-grid();
}
