@import "../_scss_db/basic.scss";
@import "_admin-variable.scss";
@import "_admin-mixin.scss";
@import "_admin-extend.scss";
/* News =======================================================================*/
.news-list { 
	padding-bottom: 90px; 
	
	.news-items{ 
		border-bottom: 1px dotted #4c4c4c;
		margin-bottom: 30px;
		padding-bottom: 30px; 
	}
	
	span{
		display: block;
		text-align: left;
		color: #6A6A6A;
		transition: all .3s; 
	}
	
	figure{
		width: 171px;
		display: flex;
		justify-content: center; 
		overflow: hidden; 
		
		img { 
			width: auto;
			max-height: 210px;
			transition: all .3s; 
		}
	}
	
	a:hover figure img { transform: scale(1.1); }
	
	.time{ 
		font-size: 1.8rem; 
		color: #ababab;
		margin-bottom: 10px; 
	}
	
	.title{
		font-size: 1.9rem; 
		color: #282828; 
		text-align: left; 
		margin-bottom: 10px; 
		line-height: 28px; 
	}
	
	.text { 
		font-size: 1.4rem; 
		max-height: 72px; 
	}

	@include min-width(){
		.news-items { 
			display:flex; 
			align-items:center; 
			justify-content: space-between; 
		}

		.content{
			width: calc(100% - 108px - 171px - 29px - 89px );
			padding-right: 22px;
			border-right: 4px solid #818181; 
		}
	}

	@include mobile-width(){
		.news-items{ text-align: center; }
 		figure { width: 100%; }
	}
}

.btn-moreText { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 108px; 
	width: 108px; 
	border-radius: 108px; 
	color: #fff; 
	background: #506a85; 
	font-size: 12px; 

	@include mobile-width(){
		display: inline-flex; 
		margin-top:24px;
	}
}