@charset "utf-8";
@import "../_variable.scss";
@import "../_mixin.scss";
@import "../_extend.scss";

// 仿 Bootstrap grid
$grid: 100%/12; 

//For Html
@mixin common-grid($margin: 15px) {
	.common-grid{
		display: flex;
		flex-wrap: wrap;
		margin-right: -$margin;
		margin-left: -$margin;

		.cgd-list{
			padding-left: $margin;
			padding-right: $margin;
		}

		
		$i:1;	
		@while $i <= 12 {
			.cgd-#{$i} {
				width: $grid * $i;
				$i: $i + 1;
			}
		}
	}
}

// For Edit 
@mixin bs-grid($size:$rwd){
	
	.grid, .gd{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	[class^="gd-"]{
		padding: 10px 15px;

		// Position
		&.gdp,&.gd{
			display: flex;
			flex-wrap: wrap;
			padding: 10px 15px;
		}
	}

	$i:1;
	@while $i <= 12 {
		.gd-#{$i} {
			width: $grid * $i;
			$i: $i + 1;
		}
	}

	.center{ 
		justify-content: center;
		align-items: center;
	}

	// 水平 
	.left{ justify-content: flex-start; }
	.right{ justify-content: flex-end; }

	// 垂直 
	.on{ align-items: flex-start; }
	.under{ align-items: flex-end; }

	@include mobile-width($size){
		.grid, .gd{ margin: 0 -5%; }
		[class^="gd-"]{ width: 100% !important; padding: 10px 5%; }
	}
}