@charset "utf-8";
@import "../_variable.scss";
@import "../_mixin.scss";
@import "../_extend.scss";

/* Reset ====================================================================*/
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button,textarea, th, td,figure{ 
	margin:0; 
	padding:0; 
}
img {
	max-width:100%;
	height: auto; 
	border:0;
}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
input, button, textarea,select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

table { 
	border-collapse:collapse; 
	border-spacing:0; 
}

/*purpose To enable resizing for IE */
/*branch For IE6-Win, IE7-Win */
input, button, textarea, select {*font-size: 100%;}
ol,ul,li,menu { list-style:none; }

a{ 
	text-decoration: none; 
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

input{outline: none;}

/*HTML5 tag*/
section, article, aside, footer, header, nav, main {
  display:block;
}