@import "../_scss_db/basic.scss";
@import "helpers/_variable.scss";
@import "helpers/_mixin.scss";
@import "helpers/_extend.scss";
/* Header =====================================================================*/
header{
	display: flex;
	justify-content: center;
	background: #133777;
	border-bottom: 1px solid #A1AFC9;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99999;

	.wrap{
		max-width: inherit;
		position: relative;
		display: grid;
		grid-template-columns: 223px 1fr 120px;
		width: 90%;
		margin-top: 30px;
		margin-bottom: 18px;
		transition: all .3s;
	}

	&.menuMov{
		.wrap{
			margin-top: 10px;
			margin-bottom: 8px;
		}

		.menu-lists{ padding-top: 26px; }
	}

	@include mobile-width(1024px){
		.wrap{ 
			padding: 0 5%; 
			margin-top: 18px;
			grid-template-columns: 160px 1fr 120px;
		}
	}

	@include mobile-width(){
		&.menuOpen .wrap{  }
		.wrap{
			width: 100%;
			display:flex; 
			padding-top:8px;
			flex-direction: column;
			align-items: flex-start;
			transition: all 1s;
		}
	}
}

.logo{
	display: flex;
	align-items: center;

	@include mobile-width(){
		max-width: 160px;
	}
}
/* Menu =======================================================================*/
.menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@include mobile-width($rwd){
		display: none;
		width: 100%; 
		position: relative;
	}
}
// Mobile Button
.menu-btn{
	@include menuBtn-basic(#fff, 10px);
	&.open span{ background: #fff; }
}

// Menu drop down
.menu-dropDown{ position: relative; }

// Menu drop down Style
.menu-lists{ 
	display: none;
	position: absolute;	
}

// Menu drop down button
.menu-fold{
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 55px;	

	&:before,&:after{
		content: '';
		position: absolute;
		top: 50%;
		right: 5px;
		display: block;
		background: #fff;
    	width: 10px;
    	height: 1px;
    	transition: all .2s;
	}
	&:after{ transform: rotate(90deg); }

	&.open{
		&:after{ transform: rotate(180deg); }
	}

	@include mobile-width($rwd){
		display: block; 
	}
}

// Control Position
.menu-control-position{	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	@include mobile-width(){
		flex-direction: column;
		align-items: flex-start;
	}
}

.menu-main{ 
	width: 100%;
	order: 1; 
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 1.8rem;

	li{}

	a{
		color: #fff;
		// text-transform: uppercase;
		white-space: nowrap;
		display: block;
	    position: relative;
	    overflow: hidden;
	    padding: 0 18px;
	    font-size: 1.8rem;
	    font-weight: bold;
		
		&:hover{ 
			color: #ffd800;
			opacity: 1; 
		}
	}

	@include mobile-width($rwd){
		width: 100%;
		order: 2;
		flex-direction: column;
		padding: 0px;
		
		li{ margin: 0px; 
			&:not(:last-child) a { border-bottom: 1px solid #fff; }
		}

		a{ 
			color:#fff; 
			padding: 15px 12px;
			text-transform: capitalize;

			&:before{ display: none; }
		}
	}
}

.menu-group{ 
	order: 2;
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
	color: #fff;
	font-size: 2.3rem;
	position: absolute;
	right: 0px;
	background: #133777;

	a{ 
		color: #fff;
		text-transform: uppercase;

		&:hover{ opacity: .5; }
	}

	li{ 
		padding: 0 8px; 
		display: flex;
		align-items: center;
	}

	@include mobile-width($rwd){
		order: 1;
		flex-wrap: wrap;
		justify-content: flex-start;
		font-size: 1.5rem;
		width: 100%;
		position: static;

		li{
			padding-left: 0px;
			padding-right: 0px;

			&:last-child:before{ display: none; }
		}

		a{ padding: 15px 12px; }
	}

}

/* Search */
.menu-search {
	a{ 
		color: #fff;
		text-transform: uppercase;

		&:hover{ opacity: .5; }
	}

	::-webkit-input-placeholder { color: #fff; }
	:-moz-placeholder { color: #fff; }
	::-moz-placeholder { color: #fff; }
	:-ms-input-placeholder { color: #fff; }

	input{
		width: 0px;
		border: none;
		padding: 0px;
		color: #fff;
		background-color: transparent;
		border-bottom: 1px solid #bbb;
		font-size: 1.6rem;
		margin-right: 0px;
		transition: all .3s;

		&.inptOpen{
			width: 135px;
			margin-right: 6px;
			padding: 1px 5px;
		}
	}

	@include mobile-width(){

		display: flex;
		width: 100%;

		input{
			width: 100%;
			padding: 4px 12px;
			
			&.inptOpen{ 
				width: 100%; 
				padding: 4px 12px;
			}
		}
			
	}
}

/* Menu Style */
.menuBasic{

	.menu-lists{
		left: 0px;
		min-width: 140px;
    	width: 100%;
    	padding-top: 35px;		

		li{ 
			position: relative;
			background: rgba(0,0,0,.8);
			transition: all .3s;

			a{ 
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: 1.6rem;
				text-transform: inherit;
				padding: 12px 10px;
			    border-bottom: 1px solid rgba(255,255,255,.2);
			    font-weight: normal;
			}

			&:hover{
    			background: #f5d20e;

				a{ color: #0b171d; }
			}
		}
	}

	@include mobile-width($rwd){
		.menu-lists{
			position: static;
			width: 100%;
			padding-top: 0px !important;

			li{
				a{ text-align: left; }
			}
		}
	}

}

// .menuLandscape{ position: relative;
// 	@include menuLandscape();
// }