@import "../_scss_db/basic.scss";
@import "_admin-variable.scss";
@import "_admin-mixin.scss";
@import "_admin-extend.scss";

/* Language ===================================================================*/
.lang{ font-size: 12px; }
.btn-lang{ 
	position: relative;
	display: flex;
	justify-content: space-between;
	cursor: pointer; 
	background: #D95022;
	padding: 4px 5px 4px 10px;
	line-height: 12px;
	text-transform: uppercase;
	transition: all .2s;

	&:before{
		position: absolute;
		right: 4px;
		content: '';
		width: 13px;
		height: 12px;
		background: #424242;

	}
	&:after{
		position: relative;
		z-index: 1;
		font-family: $FontAwesome-Solid;
		content: '\f0d7';
		display: flex;
		justify-content: center;
		width: 12px;
		color: #fff;
		margin-left: 10px;

		transition: all .2s;
	}

	&.open:after{ transform: rotate(180deg); }

	&:hover{ box-shadow: 0 0 3px #000 inset; }

	@include mobile-width($rwd){
		background: transparent;
		color: #fff;
		font-size: 18px;
		line-height: 24px;
	    padding: 15px 12px;
	    border-bottom: 1px solid #fff;
	    text-transform: capitalize;

	    &:before,&:after{
	    	position: absolute;
	    	top: 30px;
	    	right: 5px;
	    	background: #fff;
	    	width: 10px;
	    	height: 1px;
	    	content: '';
	    	margin: 0px;
	    }

	    &:after{ transform: rotate(90deg); }

	    &:hover{ box-shadow: none; }
	}
}
.lang-options{
	display: none;
	position: absolute;
    top: 23px;
    left: 12px;
    width: calc(100% - 17px);

	a{
		width: calc(100% - 22px);
		display: block;
		padding: 5px 10px;
		background: #a5a5a5;
		border: 1px solid #fff;
		border-bottom: none;
		transition: all .2s;

		&:before{ display: none; }

		&:last-child{ border-bottom: 1px solid #fff; }

		&:hover{ 
			background: #D95022;
			opacity: 1 !important; 
		}
	}

	@include mobile-width($rwd){
		position: static;
		width: 100%;

		a{
			width: calc(100% - 41px);
			font-size: 15px;
			background: #6F6F6F;
			border: none;
			padding: 15px 11px 15px 30px;
			display: block;
			position: relative;

			&:before{
				content: '';
			    width: 1px;
			    height: 1px;
			    background: transparent;
			    position: absolute;
			    display: inline-block;
			    top: calc(50% - 3px);
			    left: 15px !important;
			    border-style: solid;
			    border-width: 3px;
			    border-radius: 0px;
				border-color: transparent transparent transparent #95EEDC;
			}
		}
	}
}