@import "../_scss_db/basic.scss";
@import "_admin-variable.scss";
@import "_admin-mixin.scss";
@import "_admin-extend.scss";

/* path =======================================================================*/
// HTML 快捷 Snippet: path
.path{
	font-size: 1.3rem;
	color: #5B656E;
	justify-content: flex-end;
	padding: 22px 0;
	
	&:before{
		content: '\f0da';
		font-family: $FontAwesome-Solid;
		color: $c1;
		margin-right: 8px;
	}

	a{ 
		color: #5B656E; 
		&:hover{ opacity: .5; }
	}
	
	li:after{ color: #B1B1B1; }

	@include path('>');

	@include mobile-width($rwd){
		justify-content: flex-start;
	}
}