@import "../_scss_db/basic.scss";
@import "_admin-variable.scss";
@import "_admin-mixin.scss";
@import "_admin-extend.scss";
/* News Detail =======================================================================*/
.news_detail{
	padding: 30px 25px;
	background: #E9E9E9;

	.time{ 
		font-size: 1.8rem; 
		color: $fontColor;
		padding-bottom: 15px;
	}

	.name{
		font-size: 2.4rem;
		color: $c1;
		border-bottom: 1px solid #989898;
		padding-bottom: 15px;
	}

	.text{ border-top: 10px; }
}
.newsButton{
	display: flex;
	justify-content: center;
	padding: 50px 0 10px 0;
}