@import "../_scss_db/basic.scss";
@import "_admin-variable.scss";
@import "_admin-mixin.scss";
@import "_admin-extend.scss";
/* Products List ==============================================================*/
.product-list{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 90px;

	a{
		width: calc(100%/4 - 19px);
		margin-right: 25px;
		margin-bottom: 35px;
		display: block;
		text-align: center;

		&:nth-child(4n+4){ margin-right: 0px; }

		&:hover{
			.pic img{ transform: scale(1.1); }
			.name{ color: $c1; }
		}
	}
	
	span{ display: block; }
	
	.pic{ overflow: hidden;

		img{
			width: auto;
			max-height: 154px;
			border: 1px solid #C0C0C0;
			float: left;
			transition: all .2s;
		}

	}
	
	.name{ 
		font-family: $FontAwesome-Solid;
		font-size: 18px; 
		margin-top: 10px;
		text-align: center;
		color: $fontColor;
		transition: all .2s;
	}

	@include mobile-width($rwd){
		a{ 
			width: calc(49% - 19px); 
			margin-right: 0px;
		}

		.pic{
			display: flex;
			justify-content: center;
			align-items: center;
			img{ max-height: 215px; }
		}
	}

	@include mobile-width(375px){
		a{ width: 100%; }
	}
}

.narrative{
	&.edit-box{ padding-bottom: 30px; }
}