@import "../_scss_db/basic.scss";
@import "_admin-variable.scss";
@import "_admin-mixin.scss";
@import "_admin-extend.scss";
/* Membership Shoppingmoney */

.member-form-shoppingmoney{ 
	padding-bottom: 20px;
	
	[class^="inq-"]{
	}

	.inq-number{ flex: 0 1 30px; }
	.inq-numbering{ flex: 0 1 192px; }
	.inq-points{ flex: 0 1 192px; }
	.inq-status{ flex: 0 1 192px; }
	.inq-category{ flex: 0 1 192px; }
	.inq-activate-time { flex: 0 1 192px; }
	.inq-obtain{ flex: 0 1 192px; }
	
	
	@include mobile-width($rwd){
		.row{ 
			.inq-number{ display: none; }
			.inq-numbering:before{ content: '訂單/'; }
			.inq-points:before{ content: '點數/'; }
			.inq-status:before{ content: '狀態/'; }
			.inq-category:before{ content: '類型/'; }
			.inq-activate-time:before{ content: '啟用日期/'; }
			.inq-obtain:before{ content: '時間/'; }
		}
	}

}

.member-shoppingmoney-total{ color: #346649;
	li{ padding: 8px 20px; }
	span{ color: #000; }
}