/* Video ======================================================================*/
.block-video{
	&.mold-grid{
		padding-bottom: 90px;
		margin-left: -12px;
		margin-right: -12px;

		.item{
			width: calc(100%/3);
			margin-bottom: 35px;

			&:hover{
				img{ transform: scale(1.1); }
				.video-name{ color: $fontColor; }
			}
		}
	}

	a{ display: block; }
	
	@include mobile-width(){
		&.mold-grid .item{ width: 50%; }
	}


	@include mobile-width(320px){
		&.mold-grid .item{ width: 100%; }
	}

}

.video-mov{ 
	@include fix-height(58.166%);
	border: 1px solid #C0C0C0;	
}

.video-name{ 
	font-size: rem(18px); 
	margin-top: 10px;
	text-align: center;
	transition: all .3s;
	a{ color: $fontColor; }
}