@import "../_scss_db/basic.scss";
@import "helpers/_variable.scss";
@import "helpers/_mixin.scss";
@import "helpers/_extend.scss";
/* Contact Form*/
// HTML 快捷 Snippet: contact

$formThWidth:150px; //預設 150px

.contact-form{ 
	padding-top: 35px;
	max-width: 768px;
	margin: 0 auto;

// Row ************************************************************************
	.row{ // 列 快捷 Snippet: jpTr
		display: flex;
		align-items: center;
		width: 100%;
		padding-bottom: 25px;

		// 聯絡事項
		&.tab-content{ align-items: flex-start }

		// 地址
		&.add{ align-items: flex-start;
			.formTh{  }
			.formTd input.address{ 
				margin-top: 16px;
				display: block; 
			}
		}
		// 最後一列
		&.rowEnd{
			border-bottom: 4px solid #019F6E;
			padding-bottom: 40px;
		}

		// 補丁------------------------------------
		&.straight{
			.formTd{
				display: flex;
				align-items: center;
			}
		}
	}
	
	//驗證 (機器人驗證) Snippet: jpCert
	.certification {
		display: flex;
		justify-content: flex-end;

		border-bottom: 1px solid #D8D8D8;
		padding-bottom: 40px;

		.formTh{ 
			width: calc(100% - #{$formThWidth});  

			text-align: left;
		}
	}

	// 驗證 (數字驗證) Snippet: jpVeri
	.verification{ 
		background: #fff; 
		padding: 20px 0;

		border-bottom: 4px solid #019F6E;
		padding-bottom: 40px;

		.formTd{ 
			display: flex;
			align-items: center;
		}

	}

// Th 名稱列表 ********************************************************************
	.formTh{ 
		width: $formThWidth; //預設 150px (.formTd,.certification)
		text-align: left; //預設 left

		padding-right: 20px;
		
		//---------------------------------------

		// 重要事項
		&.red:before{
			content: '*';
			padding-right: 8px;
			color: #ec6666;
		}
	}

// Td 欄位 **********************************************************************
	.formTd{ width:calc(100% - 130px); 

		// 補丁Start-------------------------------

		// 補丁End --------------------------------
	}
	.txtName{ color: #30664E; }
	.colName{ width: 100px; text-align: center; }

// Input **********************************************************************
	input[type="text"],input[type="password"],select,textarea{
		border: none;
		background: transparent;
    	border: 1px solid #dedede;
		padding: 5px 10px;
		max-width: 250px;
		width: 100%;
		outline: none;
	}

	input{
		&.name-first{ max-width: 150px; }
		&.name-last{ max-width: 200px; }
		&.address,
		&.w100{ width: calc(90% - 150px); max-width: 100%; }
	}

// Textarea *******************************************************************
	textarea{
		width: 100%; max-width: 100%;
		min-height: 100px;
	}

// Select *********************************************************************
	.formSelect{ // 下拉 快捷 Snippet: jpSel
		position: relative;
	    display: inline-block;
	    background: transparent;
	    width: auto;

	    &:before,&:after{
	    	content: '';
	    	display: block;
	    	position: absolute;
	    	pointer-events: none;
	    }
	    &:before{
    	    z-index: 2;
		    top: calc(50% - 12px);
		    right: 9px;
		    content: '\f0d7';
		    font-family: $FontAwesome-Solid;
		    text-align: center;
		    font-size: 1.2rem;
		    color: #FEFEFE;
		    
	    }
	    &:after{
	    	top: calc(50% - 7px);
	    	right: 5px;
	    	width: 16px;
	    	height: 14px;
	    	background: #6C6C6C;
	    	z-index: 1;
	    }
	}

	select{ 
		position: relative;
		appearance: none; 
		-moz-appearance:none;
  		-webkit-appearance:none;
  		padding-right: 25px;
  		text-align: center;
  		max-width: inherit;
	}

	select.gender{ width: 70px; }

// Button Box *****************************************************************
	.fromBtn{
		display: flex;
		justify-content: center;
		padding-top: 40px;
		height: calc( 40px + 44px);

		[class^="btn-"]{
			// display: flex;
			// justify-content: center;
			// align-items: center;
			// width: 230px;
			// height: 50px;
			// font-size: 1.6rem;
			// color: #fff;
			// background: $c1;

			&:first-child{ margin-right: 25px; }
			&:last-child{ margin-left: 25px; }
		}
	}

// Terms 同意條款 *****************************************************************
	.terms{ padding-top: 25px;
		input{ display: none; 

			&:checked + label:before{ background: #333; } 
		
		}

		label{
			&:before{
				display: inline-block;
				content: '';
				width: 10px;
				height: 10px;
				border: 1px solid #333;
			}
		}

		a{ 
			color: $fontColor; 
			text-decoration: underline;
		}
	}

// RWD Size *******************************************************************
	@include mobile-width(992px){
		.row{ 
			flex-direction: column; 
			align-items: flex-start;

			&.straight .formTd{ 
				flex-direction: column; 
				align-items: flex-start;
			}
			
			input,textarea{ 
				width: calc(100% - 20px); 
				max-width: 100%;
			}
			input[type="checkbox"]{ width: 15px; }
			
			select{ max-width: 100%; }

			.formSelect{ width: auto; margin: 10px 0; }
		}
		.certification .formTh{ width: 100%; }
		
		.formTh{ text-align: left; padding-left: 10px; }

		.formTd{ 
			width: 100%; 
			padding: 0 10px;
		}
	}

	@include mobile-width(425px){
		.fromBtn [class^="btn-"]{
			&:first-child{ margin-right: 10px; }
			&:last-child{ margin-left: 10px; }
		}

		.verification {
			.formTd{ flex-direction: column; }
			input{ margin-top: 10px; }
		}
	}

}