@import "../_scss_db/basic.scss";
@import "helpers/_variable.scss";
@import "helpers/_mixin.scss";
@import "helpers/_extend.scss";
/* Application ================================================================*/
.application-list {
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap; 
	margin-right: -30px;

	&>div{ 
		width: calc(33.33% - 30px); 
		margin-right: 30px; 
		padding: 0 17px 22px 17px; 
		display:flex; 
		flex-direction: row; 
		flex-wrap: nowrap; 
		border-bottom: 1px solid #e7e7e7; 
		margin-bottom: 30px;
		&>div{
			&:first-child{
				width:calc(100% - 102px); 
				padding-right: 30px; 
				color: #3d3d3d; 
				font-size:15px; 
				line-height: 20px;
				
				span {
					display: block; 
					line-height: 100%; 
					font-size: 46px; 
					color: #333333; 
					padding-bottom: 15px;
				}
			}
			&:last-child { 
				width:102px; 
				padding-top: 10px;
			}
		}
	}

	@include mobile-width(){
		&>div{ width: calc(50% - 30px); }
	}
	
	@include mobile-width(){
		&>div{ width: calc(100% - 30px); }
	}

}