@import "../_scss_db/basic.scss";
@import "helpers/_variable.scss";
@import "helpers/_mixin.scss";
@import "helpers/_extend.scss";

.gotopBox{ display: none; }
.pagetopbtn{
	z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    color: #fff;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    transition: all .3s;
    cursor: pointer;
    box-sizing: initial;

    position: fixed;
    top: auto;
    right: 0px;
    bottom: 20px;

	&:before { 
		line-height: 1; 
		content: '\f077'; 
		font-family: $FontAwesome; 
		padding-bottom:4px; 
		font-size: 1.6rem; 
	}
	
	&:hover { opacity: .5; }

    &.gotopMov{
        
    }
}

   