@import "../_scss_db/basic.scss";
@import "helpers/_variable.scss";
@import "helpers/_mixin.scss";
@import "helpers/_extend.scss";
/* Sitemap ====================================================================*/
.sitemap-list {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	background: #fff; 
	padding: 50px 15px; 

	& > div {
		margin: 0 15px 40px 0px; 
		width: 210px;
	}
}

.sitemap-title{
	padding: 8px 5px 8px 44px; 
	color: #e7303b; 
	font-size: 18px; 
	display: block; 
	border-bottom: 1px solid #dddddd;
}

.sitemap-menu{ 
	padding-left: 52px; 
	padding-bottom: 20px; 
	position: relative; 
	padding-top: 10px;
	
	&:before{
		content: ""; 
		left: 32px; 
		width: 1px; 
		height: calc(100% + 40px); 
		top:-40px; 
		background: #dddddd; 
		position: absolute;
	}
	
	li{
		position: relative;
		
		ul{
			position: absolute; 
			left: 100%; 
			top: 0; 
			width: 100%; 
			display: none; 
			z-index: 2;
		}
		
		&:hover{
			& > ul { display: block;}
		}
		
		a{
			background: #f50916;
			color: #ffffff; 
			font-size: 16px; 
			line-height: 110%; 
			padding: 10px 14px; 
			display:block;
			
			&:hover{ 
				background: #000000; 
				color: #fff;
			}
		}
	}
	
	& > li {
		& > a { 
			display: block; 
			font-size: 16px; 
			color: #3d3d3d; 
			line-height: 100%; 
			padding: 10px 0; 
			text-align: left; 
			background: none;

			&:before{
				content: ''; 
				width: 3px; 
				height: 8px; 
				position: absolute; 
				top:13px; 
				left: -20px; 
				background: #f50a17;
			}

			&:hover { 
				color: #f50916; 
				background: none;
			}
		}
	}
}
