/* Fonts ======================================================================*/
@font-face { 
	font-family: 'pacifico'; 
	font-style: normal; 
	font-weight: normal; 
	src: url("fonts/pacifico/Pacifico-Regular.ttf"); 
}

@font-face { 
	font-family: 'OpenSans'; 
	font-style: normal; 
	font-weight: normal; 
	src: url("fonts/open_sans/OpenSans-Regular.ttf"); 
	src: url("fonts/open_sans/OpenSans-Regular.ttf") format("truetype"), 
		 url("fonts/open_sans/OpenSans-Light.ttf") format("truetype"), 
		 url("fonts/open_sans/OpenSans-Bold.ttf") format("truetype"), 
		 url("fonts/open_sans/OpenSans-SemiBold.ttf") format("truetype"); 
}

@font-face { 
	font-family: 'MyriadPro'; 
	font-style: normal; 
	font-weight: normal; 
	src: url("fonts/myriad_pro/MyriadPro-Regular.otf"); 
}