/* Products Detail ============================================================*/

.pro-title{
	font-family: map-get($font, font3);
	font-weight: bold;
	font-size: rem(22px);
	display: block;
	padding-bottom: 10px;
}

.proDetail-brief{ 
	display: flex;

	.owlpro{ 
		.owl-nav{
			position: absolute;
			top: calc(50% - 12px);
			width: 100%;
			margin-top: 0px;

			[class*=owl-]{
				margin: 0px;
				padding: 0px;
				background: transparent;
				font-size: rem(25px);
				color: $color-main;
				position: absolute;
				&:before{
					content: '';
					font-family: $FontAwesome-Solid;
					opacity: .5;
				}

				&:hover{
					background: transparent;
					&:before{ 
						color: #fff; 
						opacity: 1;
					}
				}
			}
			.owl-prev{ left: 0px;
				&:before{ content: '\f053'; }
			}
			.owl-next{ right: 0px;
				&:before{ content:'\f054'; }
			}
		}
	}

	@include mobile-width(700px){ flex-direction: column; }
}

.proDetail-pic{ 
	flex:0 0 365px;
	

	@include mobile-width(){
		flex-basis: auto;
		width: 100%;
	}
}

.item-proDetail{ @include fix-height(100%); }

.proDetail-content{
	padding-left: 50px;
	width: calc(100% - 365px);

	@include mobile-width(){
		padding-left: 0px;
		width: 100%;
	}
}

.proDetail-detailed{
	margin-top: 45px;
	.resp-tab-content{
		padding: 0px;
		border: none;
		border-top: 1px solid #C9C9C9;
		overflow: hidden;

		p{ margin: 1.12em 0; }
	}
	
}

.proDetail-btnbox{ margin-top: 15px; 
	li{ 
		&:nth-child(2){ padding: 35px 0; }
		&:first-child{ text-align: left }
		&:last-child{ 
			display: flex; 
			align-items: center;
		}
	}

	.btn-pro-prev + .btn-pro-next{
		&:before{
			content: '';
			display: inline-block;
			width: 1px;
			height: 14px;
			background: #999;
			margin: 0 15px;
		}
	}

	@include mobile-width(700px){
		li{
			text-align: center;
			&:first-child{ text-align: center }
			&:last-child{ justify-content: center; }
		}
	}
}
