@import "../_scss_db/basic.scss";
@import "_admin-variable.scss";
@import "_admin-mixin.scss";
@import "_admin-extend.scss";
/* Video ======================================================================*/
.video-list{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 90px;

	a{
		width: calc(100%/3 - 17px);
		margin-right: 25px;
		margin-bottom: 35px;
		display: block;
		text-align: center;

		&:nth-child(3n+3){ margin-right: 0px; }

		&:hover{ opacity: .9;
			.name{ color: #41A777; }
		}
	}
	
	span{ display: block; }
	
	.mov{ 
		overflow: hidden;
		display: flex;
		justify-content: center;

		img{
			width: auto;
			border: 1px solid #C0C0C0;
			float: left;
			transition: all .3s;
		}

	}
	
	.name{ 
		font-size: 1.8rem; 
		margin-top: 10px;
		text-align: center;
		color: $fontColor;
		transition: all .3s;
	}

	@include mobile-width($rwd){
		justify-content: space-between;
		a{
			width: calc(50% - 54px);
			margin-right: 0px;
		}
	}

	@include mobile-width(480px){
		a{ width: calc(50% - 10px); }
		.mov img{ max-height: 110px; }
	}

	@include mobile-width(320px){
		a{ width: 100%; }
		.mov img{ max-height: 1100px; }
	}

}