@import "../_scss_db/basic.scss";
@import "_admin-variable.scss";
@import "_admin-mixin.scss";
@import "_admin-extend.scss";

/* Basic ======================================================================*/
.common-title{
	font-size: 3.6rem;
    color: #506a85;
    margin-bottom: 60px;
    line-height: 1;
    text-align: center;
}
.subtitle{ 
	color: #282828; 
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 25px;
}

/* Banner =====================================================================*/
.banner{ 
	background: #000; 
	overflow: hidden;

	.wrap{ 
		max-width: 1345px; 
		position: relative;
	}
}

.owl-idxbanner.owl-theme{
	&:before,&:after{
		position: absolute;
		top: 0px;
		z-index: 3;
		content: '';
		width: 150px;
		height: 100%;
	}

	&:before{
		// Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100
		background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	}

	&:after{
		right: 0px;

		// Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100
		background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	}

	.owl-dots{
		z-index: 5;
		width: 100%;
		position: absolute;
		bottom: 0px;

		.owl-dot{
			margin: 8px 0;

			span{ background: #fff; }
			
			&:hover span{ background: rgba(30,167,141,.9); }
			&.active span{ background: #1edf96; }
		}
	}

}

.slogan{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	pointer-events: none;
	
	h1{ 
		color: #fff; 
		font-weight: normal;
		text-align: center;
	}
	
	[class*="font"]{ 
		display: block;
		padding: 10px 0; 
	}

	.fontBig{ font-size: 6.2rem; line-height: 1; }
	.fontMin{ font-size: 4.8rem; line-height: 1; }
	.fontSml{ font-size: 1.8rem; line-height: 1; }

	.bothLine{
		max-width: 583px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@include mobile-width(){
		.fontSml{ padding: 8px; line-height: 1.4; }
	}

	@include mobile-width(480px){
		h1{ padding-top: 30px; }
		.fontBig{ font-size: 3rem; }
		.fontSml{ font-size: 1.2rem; }
	}

	@include mobile-width(375px){
		.fontBig{ font-size: 2rem; }
		.fontMin{ font-size: 1.6rem; }
	}
}

/* About ======================================================================*/
.idx-about{ 
	text-align: center;

	%idx-aboutWidth{
		max-width: 782px;
    	margin: 0 auto;
	}

	.common-title{ 	
    	@extend %idx-aboutWidth;
    	line-height: 1.4;
	}

	p{
		@extend %idx-aboutWidth;
	    text-align: left;
    	font-size: 1.5rem;
	}

	.wrap{ 
		max-width: 1143px;
	    font-size: 1.8rem;
	    padding: 75px 0 50px 0;
	}

	h3{
		font-size: 2.6rem;
	    font-weight: 100;
	    color: #506a85;
	    margin: 16px 0;
	}

	@include min-width($rwd){
		.common-title{ text-align: left; }
		p{ margin-top: 40px; }

		.idx-article{
			display: flex;
		    justify-content: space-between;
		    margin-bottom: 94px;
		}

		article{
			width: 325px;
    		margin: 67px 0 0;

    		p{
				font-weight: 100;
				margin-top: 0px;
    		}
		}

	}

	@include mobile-width(){
		.common-title{
		    font-size: 1.6rem;
		    font-weight: bold;
		    margin: 32px 0 16px;
		    text-align: left;
		}

		p{ margin-bottom: 32px; }
	}
}

/* Products ===================================================================*/
.idx-products{
	background: #e2e2e2;
    padding: 78px 0 88px;

    .owl-theme {
		.owl-dots{
			.owl-dot { 
				margin-top: 63px; 

				span{ 
					background: #506a85; 
					width: 11px; 
					height: 11px; 
					border-radius: 11px; 
					transition:.3s linear; 
					margin: 0 12px; 
				}

				&:hover span{ background: #008f77; }
				&.active span{ background: #00bc9c; }
			}
		}
	}

}
.idxpro-article{

	article{
		background: #fff;
		.text{
			text-align: center;
    		padding: 14px 0;

    		h3{
			    margin: 0;
			    padding: 14px 0;
			    font-weight: 200;
			    color: #506a85;
    		}

    		span{
			    color: #484848;
    			font-size: 1.2rem;
    			&:after{
    				content: '\f061';
				    color: #abb8c5;
				    font-size: .6rem;
				    margin-left: 8px;
				    font-family: $FontAwesome;
    			}
    		}
		}
	}

	@include min-width($rwd){
	    display: flex;
    	justify-content: space-between;
    	margin-bottom: 64px;

    	article{
    		&:not(:last-child){ margin-right: 32px; }
    	}
	}

	@include mobile-width(){
		article{ margin-bottom: 20px; }
	}
}

/* News =======================================================================*/
.idx-news{ margin-bottom: 108px;
	.wrap{
		max-width: 1020px;
		margin-top: 70px;
	}
}

.idx-news-box{
	display: flex; 
	flex-wrap: wrap; 
	padding-top: 20px;
	
	figure { 
		max-width:171px; 
		width:100%; 
	}
	
	.content { padding-left:20px; }

	span { display: block; }

	.time { 
		font-size: 1.8rem; 
		color: #ababab; 
		margin-bottom: 10px; 
	}

	.title { 
		font-size: 1.9rem; 
		color: #282828; 
		text-align: left; 
		margin-bottom: 10px; 
		line-height: 28px; 
	}

	.text { 
		color: #7c7c7c; 
		font-size: 1.4rem; 
		line-height: 24px; 
	}

	.list:not(:last-child) { 
		border-bottom:1px dotted #818181;  
		margin-bottom:24px; 
		padding-bottom:24px; 
	}

	@include min-width($rwd){
		.content { 
			position: relative; 
			margin-right:44px; 
			padding-right:44px; 
			
			&::before { 
				content:''; 
				position: absolute; 
				right: 2px; 
				top:50%; 
				transform:translateY(-50%);
				height:76%; 
				background:#818181; 
				width:3px; 
			}

 			
		}

		.list{ 
			display:grid; 
			grid-template-columns:171px 1fr 108px; 
		}
	}
}

.btn-moreText { 
	display:flex; 
	align-items:center; 
	justify-content:center; 
	height:108px; 
	width:108px; 
	border-radius:108px; 
	color:#fff; 
	background:#506a85; 
	font-size: 1.2rem; 
}

@media only screen and (max-width: 1440px){
	.flexslider-banner .flex-control-nav{ right: 1%; }
}

@media only screen and (max-width: 1024px){
	.idx-about .wrap,
	.idx-news .wrap{ padding: 0 5%; }
}

@media only screen and (max-width: 992px){
	
	.idx-application-list li{ padding: 0 1%; }
	.idx-news-box{
		flex-direction: column;
	}
	.idx-news-main{ 
		width: 100%; 
		margin-bottom: 30px;
	}
	.idx-news-submain{ 
		width: 100%; 
		.list{ padding-left: 0px;}
	}
}

@media only screen and (max-width: 480px){

	.slogan{

		h1{ padding-top: 30px; }

		.fontBig{ font-size: 3rem; line-height: 30px; }
		.fontMin{ font-size: 2rem; line-height: 20px; }
		.fontSml{ font-size: 1rem; line-height: 12px; }

	}

	.idxpro-wrap{ width: 100%; 
		.owl-theme .owl-nav{ display: none; }
	}
	.idx-application-list{ flex-wrap: wrap;
		li{ 
			width: 44%; 
			padding: 0 3%;
			margin-bottom: 40px;
		}
		a .pic{ margin-bottom: 20px; }
	}
	.idx-news-main{
		flex-direction: column;
		figure{ margin: 0 auto; }
		.content{ padding-left: 0px; }
	}
}

@media only screen and (max-width: 375px){

	.flexslider-banner .flex-control-nav{ display: none; }
}